body {
	background: #f2f2f2;
	color: #333;
	font-family: Tahoma, Helvetica, "Microsoft Yahei", "微软雅黑", Arial, STHeiti;
}
.main {
	margin-bottom: 100px;
}
.place {
	line-height: 58px;
	height: 58px;
}

/*用户中心*/
.user_left {
	width: 200px;
	overflow: hidden;
	margin-top: 0px;
	background: #fff;
	padding-bottom: 50px;
}
.user_left ul {
	width: 160px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
	padding: 15px 0;
}
.user_left ul.last {
	border: 0;
}
.user_left ul h1 {
	font-size: 14px;
}
.user_left ul  a.on {
	color: #f4604a;
}
.user_left i {
	background: url(../images/icon.png) no-repeat;
	width: 17px;
	height: 17px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -5px;
}
.user_left i.b1 {
	background-position: -128px -148px;
}
.user_left i.b2 {
	background-position: -152px -148px;
}
.user_left i.b3 {
	background-position: -178px -148px;
}
.user_left i.b4 {
	background-position: -207px -148px;
}
.user_left i.b5 {
	background-position: -234px -148px;
}
.user_left ul dl {
	line-height: 32px;
	font-size: 12px;
	margin: 0 0 0 25px;
}
.user_right {
	width: 780px;
	margin-top: 0px;
}
.user_right.bg {
	background: #fff;
	min-height: 740px;
}
.user_right_title {
	width: 700px;
	margin: 0 auto;
	margin-top: 25px;
}
.user_right_title {
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
}
.user_right_title h1 {
	font-size: 16px;
	float: left;
}
.user_right_title h1 i {
	background: #f4604a;
	width: 4px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -3px;
}
.account {
	width: 100%;
	background: #ffdcb6;
}
.account .top {
	width: 740px;
	margin: 20px auto;
	line-height: 26px;
}
.account .top strong {
	color: #333;
	float: left;
	font-weight: normal;
	float: left;
	font-size: 16px;
}
.account .top ul {
	float: left;
	margin-left: 30px;
}
.account .top ul li {
	float: left;
}
.account .top ul a {
	background: url(../images/icon.png) no-repeat;
	width: 26px;
	height: 26px;
	display: block;
	margin-right: 10px;
}
.account .top ul a.g1 {
	background-position: -130px -171px;
}
.account .top ul a.g2 {
	background-position: -160px -171px;
}
.account .top ul a.g3 {
	background-position: -189px -171px;
}
.account .top .percent {
	width: 200px;
	float: left;
}
.account .top .percent dl {
	overflow: hidden;
}
.account .top .percent dt {
	float: left;
	color: #f4604a;
	margin-left: 10px;
}
.account .top .percent dd {
	background: #fff;
	float: left;
	height: 8px;
	margin-top: 10px;
	overflow: hidden;
	width: 80px;
	border-radius: 8px;
}
.account .top .percent dd div {
	background: #f4604a;
	height: 8px;
	overflow: hidden;
	width: 0;
	border-radius: 8px;
}
.account .bottom {
	border: 5px solid #ffdcb6;
	background: #fffaf6;
	clear: both;
	padding: 30px 0;
}
.account .bottom dl {
	float: left;
	text-align: center;
	font-size: 14px;
	width: 195px;
}
.account .bottom dl dd {
	font-size: 20px;
	color: #f4604a;
	line-height: 35px;
	font-weight: bold;
}
.account .bottom .btn {
	margin: 10px 50px 0 0;
}
.account .bottom .btn a {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	width: 80px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	margin: 0 2px;
}
.statistics {
	padding: 20px 40px;
	margin-top: 20px;
	background: #fff;
}
.statistics .title {
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
}
.statistics .title h1 {
	font-size: 16px;
	float: left;
}
.statistics .title h1 i {
	background: #f4604a;
	width: 4px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -3px;
}
.statistics .title a {
	float: right;
	color: #f4604a;
}
.statistics .title a:hover {
	color: #333;
}
.statistics .title a i {
	background: url(../images/icon.png) no-repeat -223px -171px;
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -2px;
}
.statistics .con {
	width: 90%;
	margin: 100px auto;
	min-height: 152px;
	clear: both;
	text-align: center;
}
.statistics .con dl {
	width: 24%;
	float: left;
	border-right: 1px solid #eaeaea;
}
.statistics .con dl.last {
	border: 0;
}
.statistics .con dl.red dd {
	color: #f2746a;
}
.statistics .con dd strong {
	font-size: 20px;
}
.invest {
	width: 700px;
	margin: 0 auto;
}
.invest_tab {
	background: #f2f2f2;
	line-height: 38px;
	font-size: 14px;
	border-bottom: 2px solid #f4604a;
	margin-top: 20px;
}
.invest_tab li {
	float: left;
}
.invest_tab li a {
	display: block;
	padding: 0 20px;
	margin-right: 20px;
}
.invest_tab li a:hover {
	background: #f4604a;
	color: #fff;
}
.invest_tab li.on a {
	background: #f4604a;
	color: #fff;
}
.invest_con {
	width: 697px;
	border: 1px solid #eaeaea;
	border-left: 2px solid #fe8d7d;
	clear: both;
	margin-top: 20px;
}
.invest_con .top {
	padding: 0 20px;
	line-height: 43px;
	border-bottom: 1px solid #eaeaea;
}
.invest_con .top p {
	float: left;
}
.invest_con .top span {
	float: right;
}
.invest_con .bottom {
	padding: 0 20px;
	line-height: 43px;
	border-top: 1px solid #eaeaea;
	clear: both;
}
.invest_con .con {
	padding: 20px;
}
.invest_con .con h1 {
	color: #f4604a;
	font-size: 20px;
}
.invest_con .con h4 {
	font-weight: normal;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	margin-top: 5px;
}
.invest_con .con h1 span {
	display: inline-block;
	border-radius: 10px;
	background: #ff8a79;
	line-height: 20px;
	padding: 0 10px;
	font-size: 12px;
	color: #fff;
	vertical-align: 2px;
	margin-left: 5px;
}
.invest_con .con .list_ul {
	margin: 5px auto;
	overflow: hidden;
	width: 100%;
}
.invest_con .con ul {
	width: 155px;
	padding-left: 40px;
	margin-right: 30px;
	float: left;
	line-height: 32px;
	border-left: 1px solid #eaeaea;
}
.invest_con .con ul.first {
	border: 0;
	padding: 0;
}
.invest_tb td {
	border-bottom: 1px solid #eaeaea;
	padding: 30px 0;
}
.invest_tb td h1 {
	font-size: 18px;
	color: #f4604a;
	margin-left: 20px;
}
.invest_tb td span {
	color: #f4604a;
}
.invest_tb td a.yell {
	display: inline-block;
	width: 80px;
	height: 28px;
}
.invest_con_red {
	width: 700px;
	clear: both;
	margin-top: 20px;
}
.invest_con_red .top {
	padding: 0 20px;
	line-height: 44px;
	color: #fff;
	background: #f4604a;
}
.invest_con_red .top p {
	float: left;
}
.invest_con_red .top span {
	float: right;
}
.invest_con_red .bottom {
	padding: 0 20px;
	border: 1px solid #eaeaea;
	border-top: 0;
	line-height: 52px;
	clear: both;
}
.invest_con_red .con {
	padding: 20px 0;
	border: 1px solid #eaeaea;
	border-top: 0;
}
.invest_con_red .con h1 {
	color: #f4604a;
	font-size: 20px;
	margin-left: 30px;
}
.invest_con_red .con h4 {
	font-weight: normal;
	font-size: 12px;
	color: #666;
	line-height: 30px;
	margin-top: 5px;
	margin-left: 30px;
}
.invest_con_red .con h1 span {
	display: inline-block;
	border-radius: 10px;
	background: #ff8a79;
	line-height: 20px;
	padding: 0 10px;
	font-size: 12px;
	color: #fff;
	vertical-align: 2px;
	margin-left: 5px;
}
.invest_con_red .con .list_ul {
	margin: 5px auto;
	overflow: hidden;
	width: 100%;
}
.invest_con_red .con ul {
	width: 195px;
	padding-left: 30px;
	margin-right: 30px;
	float: left;
	line-height: 25px;
	border-left: 1px solid #eaeaea;
	color: #666;
	overflow: hidden;
}
.invest_con_red .con ul li {
	margin-bottom: 20px;
}
.invest_con_red .con ul p {
	font-size: 14px;
	color: #333;
}
.invest_con_red .con ul.first {
	width: 125px;
	border: 0;
}

/*银行卡*/
.blank {
	width: 700px;
	margin: 0 auto;
}
.blank i {
	background: url(../images/blank.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: -5px;
	margin-right: 3px;
}
.blank i.zs {
	background-position: -369px 0;
}
.blank .add {
	border: 1px solid #dbdbdb;
	width: 210px;
	height: 120px;
	float: left;
	border-radius: 4px;
	margin: 30px 30px 0 0;
}
.blank .add a:hover {
	color: #333;
}
.blank .add.last {
	margin: 30px 0 0 0;
}
.blank .add .top {
	padding: 10px;
	height: 65px;
	border-bottom: 1px solid #dbdbdb;
	color: #333;
}
.blank .add .top p {
	float: left;
}
.blank .add .top span {
	float: right;
}
.blank .add .bottom {
	background: #f0f0f0;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
	display: block;
	clear: both;
	color: #999;
	padding: 0 20px;
}
.blank .add i.btn {
	background: url(../images/icon.png) no-repeat -126px -239px;
	width: 36px;
	height: 36px;
	display: block;
	margin: 15px auto;
}
.blank .add .bottom a {
	font-size: 12px;
	color: #999;
}
.blank .add .bottom a:hover {
	color: #333;
}
.blank .add .bottom a.bt {
	float: left;
}
.blank .add .bottom a.del {
	float: right;
}
.theme-mask {
	z-index: 10000;
	position: fixed;
	_position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
	display: none;
}
.popover1 {
	width: 738px;
	height: 578px;
	z-index: 100001;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	margin: -289px 0 0 -369px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, .2);
	display: none;
}
.popover2 {
	width: 502px;
	height: 334px;
	z-index: 100001;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	margin: -167px 0 0 -251px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, .2);
	display: none;
}
.popover3 {
	width: 600px;
	height: 334px;
	z-index: 100001;
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	margin: -167px 0 0 -300px;
	box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, .2);
	display: none;
}
.popover1 .top .close, .popover2 .top .close, .popover3 .top .close {
	position: absolute;
	display: block;
	top: 17px;
	right: 20px;
	background: url(../images/icon.png) no-repeat -258px -148px;
	width: 16px;
	height: 16px;
	display: block;
	overflow: hidden;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.popover1 .top .close:hover, .popover2 .top .close:hover, .popover3 .top .close:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	transform: rotate(360deg);
}
.eject .top {
	background: url(../images/ti_line.jpg) repeat-x;
	width: 100%;
	line-height: 50px;
	height: 55px;
}
.eject .top h1 {
	font-size: 18px;
	margin-left: 20px;
}
.eject .tw {
	border: 1px solid #dadada;
	width: 217px;
	height: 25px;
	padding: 5px 10px;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
}
.popover3 .btnf {
	background: #ffa200;
	width: 240px;
	color: #fff;
	line-height: 37px;
	border-radius: 2px;
	border: 0;
	cursor: pointer;
}
.popover1 .con {
	width: 580px;
	margin: 0 auto;
	font-size: 14px;
}
.popover1 .con table {
	white-space: nowrap;
}
.popover1 .con table em {
	color: #d71e1e;
	margin-right: 5px;
	font-style: normal;
}
.popover1 .con table span {
	font-size: 12px;
	color: #999;
	margin-left: 10px;
}
.popover1 .con table .txt {
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 5px 10px;
}
.popover1 .con table .txt.w1 {
	width: 247px;
	height: 25px;
	font-size: 14px;
	color: #333;
}
.popover1 .con table .txt:focus {
	background: #fff5e3;
	border: 1px solid #ee8274;
}
.popover1 .con table p.wrong {
	display: inline;
	color: #f4604a;
	font-size: 12px;
}
.popover1 .con table .s1 {
	background: #ededed;
	border: 1px solid #c8c8c8;
	cursor: pointer;
	line-height: 35px;
	padding: 0 20px;
	border-radius: 3px;
	display: inline-block;
	color: #333;
}
.popover1 .con table .s2 {
	background: #ffa200;
	border: 0;
	cursor: pointer;
	line-height: 34px;
	padding: 0 25px;
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	margin-right: 8px;
}
.popover1 .con table .s3 {
	background: #ededed;
	border: 1px solid #c8c8c8;
	cursor: pointer;
	line-height: 32px;
	padding: 0 25px;
	border-radius: 3px;
	display: inline-block;
	color: #333;
}
.popover1 .con table .bank {
	width: 267px;
	height: 25px;
	font-size: 14px;
	color: #333;
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 5px 0px;
	position: relative;
}
.popover1 .con table .bank p {
	width: 247px;
	padding-left: 10px;
}
.set_bank {
	background: url(../images/la.png) no-repeat 250px center;
	display: inline-block;
}
.set_bank.select {
	background: url(../images/la.png) no-repeat 250px center;
}
.new_bank {
	width: 528px;
	position: absolute;
	left: 0;
	top: 36px;
	border: 1px solid #dadada;
	display: none;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, .2);
	padding: 15px 0;
}
.bank ul li {
	width: 105px;
	float: left;
	cursor: pointer;
	margin: 5px 5px 5px 20px;
}
.bank ul li:hover {
	color: #f4604a;
}
.bank i {
	background: url(../images/blank.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: -5px;
	margin-right: 3px;
}
.bank i.js {
	background-position: 0 0;
}
.bank i.gs {
	background-position: -123px 0;
}
.bank i.ny {
	background-position: -246px 0;
}
.bank i.zs {
	background-position: -369px 0;
}
.bank i.zg {
	background-position: 0 -33px;
}
.bank i.jt {
	background-position: -122px -33px;
}
.bank i.yz {
	background-position: -246px -33px;
}
.bank i.gd {
	background-position: -369px -33px;
}
.bank i.ms {
	background-position: 0 -65px;
	vertical-align: -7px;
}
.bank i.xy {
	background-position: -122px -65px;
}
.bank i.zx {
	background-position: -246px -65px;
}
.bank i.pf {
	background-position: -369px -65px;
	vertical-align: -8px;
}
.bank i.pa {
	background-position: 0 -97px;
	vertical-align: -7px;
}
.bank i.gf {
	background-position: -122px -97px;
}
.bank i.hx {
	background-position: -246px -97px;
}
.bank .other {
	width: 480px;
	margin: 0 auto;
	clear: both;
	text-align: right;
}
.bank .other a {
	color: #2ab7e4;
}
.bank .other a:hover {
	text-decoration: underline;
}
.eject .txtd {
	text-align: center;
	width: 240px;
	margin: 35px auto;
}
.eject .txtd i {
	background: url(../images/icon.png) no-repeat -426px 0;
	width: 61px;
	height: 61px;
	display: inline-block;
}
.eject .txtd p {
	font-size: 14px;
	line-height: 26px;
	color: #333;
}
.eject .btn {
	margin-top: 30px;
}
.eject .btn.wu {
	margin-top: 0px;
}
.eject .btn input {
	background: #ffa200;
	width: 80px;
	height: 34px;
	font-size: 14px;
	color: #fff;
	border: 0;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
}
.eject .btn a {
	background: #ededed;
	display: inline-block;
	line-height: 32px;
	width: 78px;
	height: 32px;
	font-size: 14px;
	color: #333;
	border: 1px solid #c8c8c8;
	border-radius: 2px;
	text-align: center;
}
.eject table {
	width: 490px;
	margin: 30px auto;
	font-size: 14px;
	color: #333;
}
.eject .send {
	border: 1px solid #c8c8c8;
	background: #ededed;
	border-radius: 3px;
	width: 113px;
	height: 35px;
	cursor: pointer;
}
.personal {
	width: 600px;
	margin: 30px auto;
	color: #333;
	line-height: 40px;
}
.personal table {
	width: 100%;
	font-size: 14px;
}
.personal table strong {
	font-weight: normal;
	color: #666;
}
.personal table i {
	background: url(../images/icon.png) no-repeat;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0 10px;
	vertical-align: -2px;
}
.personal table i.c1 {
	background-position: -161px -202px;
}
.personal table i.c2 {
	background-position: -180px -202px;
}
.personal table  a.ren {
	border: 1px solid #dadada;
	border-radius: 3px;
	display: inline-block;
	line-height: 20px;
	padding: 0 10px;
	font-size: 12px;
	margin-left: 10px;
}
.personal table .txt {
	border: 1px solid #dadada;
	padding: 5px 10px;
	font-size: 14px;
	color: #333;
}
.personal table .txt.w1 {
	width: 240px;
	height: 24px;
}
.personal table .txt.w2 {
	width: 100px;
	height: 24px;
}
.personal table .txt.w3 {
	width: 180px;
	height: 24px;
}
.personal table .btn {
	background: #ffa200;
	border: 0;
	cursor: pointer;
	line-height: 34px;
	padding: 0 25px;
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	margin-right: 8px;
}
.personal table .hbt {
	background: #ffa200;
	cursor: pointer;
	line-height: 28px;
	width: 102px;
	border-radius: 2px;
	display: inline-block;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.personal table a.bt {
	color: #f4604a;
	margin-left: 10px;
}
.personal table a.bt:hover {
	text-decoration: underline;
}
.personal table .btn:hover {
	background: #ff8400;
}
.personal table span {
	font-size: 12px;
	color: #999;
	margin-left: 10px;
}
.personal_top {
	width: 700px;
	margin: 0 auto;
	margin-top: 20px;
	background: #f2f2f2;
	line-height: 40px;
}
.personal_top p {
	margin-left: 15px;
	font-size: 14px;
}
.personal_txt {
	width: 660px;
	margin: 20px auto 120px auto;
	overflow: hidden;
	line-height: 28px;
	color: #666;
}
.personal_txt.wd {
	margin: 20px auto;
}
.personal_txt span {
	color: #f4604a;
	font-size: 14px;
}
.explain {
	width: 660px;
	margin: 0 auto;
}
.explain table {
	border: 0 solid #e5cfa8;
	border-width: 0px 1px 0 0;
}
.explain table .top td {
	border: 0 solid #ffa200;
	border-width: 0 1px 1px 1px;
	background: #ffa200;
	color: #fff;
}
.explain table td {
	border: 0 solid #e5cfa8;
	border-width: 0 0 1px 1px;
	background: #fcf6ec;
	line-height: 29px;
	color: #853c1c;
}
.water {
	width: 700px;
	margin: 0 auto;
}
.water .tab {
	background: #f2f2f2;
	line-height: 38px;
	font-size: 14px;
	border-bottom: 2px solid #f4604a;
	margin-top: 20px;
	margin-bottom: 20px;
}
.water .tab li {
	float: left;
}
.water .tab li a {
	padding: 0 15px;
	margin-right: 10px;
	display: block;
}
.water .tab li a:hover {
	background: #f4604a;
	color: #fff;
}
.water .tab li.on a {
	background: #f4604a;
	color: #fff;
}
.water table .top td {
	background: #f2f2f2;
	line-height: 40px;
	padding: 0;
}
.water table td {
	padding: 15px 0;
	border-bottom: 1px solid #eaeaea;
}
.water table p {
	margin-left: 20px;
}
.water h1 {
	font-size: 14px;
	line-height: 40px;
}
.reward {
	width: 700px;
	margin: 30px auto;
	position: relative;
}
.reward .top {
	background: url(../images/icon.png) no-repeat 0 -284px;
	width: 398px;
	height: 44px;
	position: absolute;
	top: 0;
	left: 150px;
	z-index: 10;
}
.reward .top1 {
	background: url(../images/shd_03.jpg) no-repeat;
	width: 207px;
	height: 44px;
	margin: 0 auto;
}
.reward .xiangq {
	width: 100%;
	overflow: hidden;
	line-height: 28px;
	font-size: 14px;
}
.reward .xiangq ul {
	width: 100%;
	overflow: hidden;
	margin-top: 30px;
}
.reward .xiangq p {
	width: 100%;
	text-align: center;
	margin: 50px auto;
}
.reward .con {
	border: 1px solid #eddbd2;
	background: #fffaf6;
	margin-top: 25px;
	padding: 30px;
}
.reward .con ul {
	font-size: 14px;
	line-height: 26px;
}
.reward .con .bottom {
	margin-top: 30px;
}
.reward .con .left_cor {
	width: 495px;
	margin: 10px auto;
}
.reward .con .left_cor h2 {
	font-size: 16px;
	color: #f4604a;
}
.reward .con .left_cor dl {
	margin-top: 10px;
	padding-bottom: 30px;
}
.reward .con .left_cor dl dd {
	margin-top: 15px;
}
.reward .con .left_cor dl strong {
	font-size: 14px;
	display: inline-block;
	font-weight: normal;
	text-align: right;
	width: 185px;
}
.reward .con .left_cor .txt {
	border: 1px solid #dbd9d8;
	height: 25px;
	padding: 5px 10px;
	width: 280px;
}
.reward .con .left_cor .copy-button {
	border: 0;
	background: #ffa200;
	width: 142px;
	height: 34px;
	color: #fff;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 3px;
}
.reward .con .left_cor .copy-button:hover {
	background: #ff8400;
}
.reward .con .right_cor h2 {
	font-size: 16px;
	color: #333;
}
.reward .con .huo {
	width: 23px;
}
.reward .con .right_cor {
	width: 210px;
}
.reward .con .right_cor p {
	margin-top: 10px;
}
.reward .con .right_cor p a {
	background: url(../images/icon.png) no-repeat;
	width: 34px;
	height: 34px;
	display: inline-block;
	margin: 0 2px;
}
.reward .con .right_cor p a.b1 {
	background-position: -174px -239px;
}
.reward .con .right_cor p a.b2 {
	background-position: -218px -239px;
}
.reward .con .right_cor p a.b3 {
	background-position: -262px -239px;
}
.reward .con .right_cor p a.b4 {
	background-position: -306px -239px;
}

/*实名认证*/
.name {
	background: #fff;
	padding: 0 40px;
	width: 920px;
	margin: 30px auto;
	min-height: 635px;
}
.name .title {
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
	margin-top: 25px;
}
.name .title h1 {
	font-size: 16px;
	float: left;
}
.name .title h1 i {
	background: #f4604a;
	width: 4px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -3px;
}
.name table {
	width: 730px;
	margin: 80px auto;
	font-size: 14px;
}
.name table .txt {
	border: 1px solid #dadada;
	border-radius: 3px;
	padding: 5px 10px;
}
.name table .txt.w1 {
	width: 280px;
	height: 25px;
	font-size: 14px;
	color: #333;
}
.name table .btn {
	width: 302px;
	height: 42px;
	background: #f4604a;
	font-size: 16px;
	border: 0;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.name table p.right_c {
	display: inline-block;
	background: url(../images/icon.png) no-repeat -257px -170px;
	width: 24px;
	height: 24px;
}

/*登陆*/
.logo span {
	color: #696969;
	display: inline-block;
	font-size: 22px;
	line-height: 30px;
	padding-left: 24px;
	border-left: 1px solid #cecece;
	margin-left: 24px;
	vertical-align: 5px;
}
.login_mian {
	width: 1000px;
	margin: 40px auto 150px auto;
	overflow: hidden;
}
.login_mian .left_img {
	float: left;
	width: 580px;
	overflow: hidden;
}
.login_mian .login {
	width: 420px;
	height: 397px;
	float: right;
	background: #fff;
}
.login_mian .login h1 {
	width: 350px;
	color: #333;
	font-size: 20px;
	margin: 35px auto 30px auto;
}
.login_mian .login table {
	width: 317px;
	clear: both;
	margin: 0 auto 30px auto;
	color: #1f273a;
}
.login_mian .login .txt {
	width: 295px;
	height: 29px;
	line-height: 29px\0/; /* IE8 only */
	padding: 5px 10px;
	border: 1px solid #dadada;
	background: #fcfcfc;
	color: #565656;
	font-size: 14px;
	border-radius: 2px;
}
.login_mian .login .txt:focus {
	border: 1px solid #ffa200;
}
.login_mian .login .btn {
	background: #f4604a;
	width: 317px;
	height: 42px;
	text-align: left;
	border: 0;
	color: #fff;
	font-size: 16px;
	display: block;
	cursor: pointer;
	text-align: center;
	margin: 0 auto 20px auto;
	border-radius: 2px;
	font-family: "Microsoft YaHei";
}
.login a {
	color: #333;
}
.login a:hover {
	text-decoration: underline;
}
.login a.blue {
	color: #f46710;
}
.login a.blue:hover {
	text-decoration: underline;
}
#msg_holder {
	width: 350px;
	margin: 0 auto;
}
#msg_holder p.red {
	color: #c33;
	display: inline-block;
	margin-left: 10px;
}
.register {
	width: 1000px;
	margin: 50px auto 200px auto;
	min-height: 500px;
	background: #fff;
	overflow: hidden;
	padding-bottom: 50px;
}
.register_left {
	width: 630px;
	float: left;
	color: #262626;
}
.register_left h1 {
	font-size: 20px;
	margin: 60px 0 0 75px;
}
.register_left table {
	margin: 25px 0 30px 25px;
}
.register_left table strong {
	font-size: 14px;
	white-space: nowrap;
	font-weight: normal;
	margin-right: 10px;
}
.register_left table strong em {
	font-style: normal;
	color: #de2536;
	margin-right: 4px;
}
.register_left table .txt {
	border: 1px solid #dadada;
	background: #fcfcfc;
	border-radius: 2px;
}
.register_left table .txt:focus {
	border: 1px solid #ffa200;
}
.register_left table .txt.w1 {
	width: 295px;
	padding: 10px;
	height: 19px;
	font-size: 14px;
	color: #333;
}
.register_left table .txt.w2 {
	width: 155px;
	padding: 10px;
	height: 19px;
	font-size: 14px;
	color: #333;
}
.register_left table span {
	white-space: nowrap;
	margin-top: 3px;
}
.register .bty {
	background: #ffa200;
	border: 0;
	width: 128px;
	height: 41px;
	line-height: 40px;
	text-align: center;
	ursor: pointer;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}
.register .btn {
	background: #f4604a;
	width: 317px;
	height: 42px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 2px;
	margin-top: 20px;
	font-family: "Microsoft YaHei";
}
.register .btn:hover {
	background: #e6513b;
}
.register_left select {
	width: 100px;
	height: 42px;
	border: 1px solid #cfcfcf;
	margin-right: 5px;
}
#demo_121 .n-invalid {
	border: 1px solid #f4604a;
}
.right_ld {
	width: 220px;
	float: right;
	padding-left: 35px;
	margin-top: 112px;
	border-left: 1px solid #e5e5e5;
	padding-bottom: 100px;
	color: #333;
	margin-right: 40px;
}
.right_ld ul {
	overflow: hidden;
	margin-bottom: 10px;
}
.right_ld li {
	margin-bottom: 15px;
}
.right_ld a.bt {
	color: #f46710;
}
.right_ld a.bt:hover {
	text-decoration: underline;
}
.find {
	width: 100%;
	min-height: 500px;
}
.find .top {
	position: relative;
	height: 67px;
	text-align: center;
}
.find .top .line {
	background: #e5e5e5;
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: 0;
}
.find .top #findtab {
	position: relative;
	z-index: 10;
}
.find .top #findtab a {
	display: inline-block;
	font-size: 16px;
	color: #333;
	line-height: 65px;
	margin: 0 40px;
	padding: 0 5px;
}
.find .top #findtab a.current {
	color: #f4604a;
	border-bottom: 2px solid #f4604a;
}
.find .sublist {
	width: 400px;
	margin: 80px auto;
}
.find .sublist strong {
	font-size: 14px;
	white-space: nowrap;
	font-weight: normal;
	margin-right: 10px;
}
.find .sublist  strong em {
	font-style: normal;
	color: #de2536;
	margin-right: 4px;
}
.find .sublist .txt {
	border: 1px solid #dadada;
	background: #fcfcfc;
	border-radius: 2px;
}
.find .sublist .txt:focus {
	border: 1px solid #ffa200;
}
.find .sublist .txt.w1 {
	width: 295px;
	padding: 10px;
	height: 19px;
	font-size: 14px;
	color: #333;
}
.find .sublist .txt.w2 {
	width: 155px;
	padding: 10px;
	height: 19px;
	font-size: 14px;
	color: #333;
}
.find .sublist .txt.w3 {
	width: 125px;
	padding: 10px;
	height: 19px;
	font-size: 14px;
	color: #333;
}
.find .sublist span {
	white-space: nowrap;
	margin-top: 3px;
}
.find .sublist .yan {
	border: 1px solid #dadada;
}
.find .sublist a.blue {
	color: #f4604a;
	margin-left: 5px;
}
.find .sublist a.blue:hover {
	text-decoration: underline;
}
.find .sublist .btn {
	background: #f4604a;
	width: 317px;
	height: 42px;
	line-height: 40px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	margin-top: 20px;
	font-family: "Microsoft YaHei";
}
.find .sublist .btn:hover {
	background: #e6513b;
}
.find .sublist .bty {
	background: #ffa200;
	border: 0;
	width: 128px;
	height: 41px;
	line-height: 40px;
	text-align: center;
	ursor: pointer;
	color: #333;
	font-size: 14px;
	cursor: pointer;
	color: #fff;
	border-radius: 2px;
}

/*理财广场*/
.square {
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.square .top {
	line-height: 67px;
	border-bottom: 1px solid #f1f1f1;
	background: #fffaf0;
	height: 67px;
}
.square .top h1 {
	font-size: 24px;
	float: left;
	margin-left: 40px;
}
.square .top h1 i {
	background: #f4604a;
	width: 6px;
	height: 22px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -3px;
}
.square .list {
	width: 920px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 20px;
	margin-top: 30px;
}
.square .list .con {
	width: 100%;
	clear: both;
	overflow: hidden;
}
.square .list .con .yell {
	float: right;
	font-size: 14px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.square .list .con dl.f1 {
	width: 109px;
	border-right: 1px solid #ececec;
	color: #777;
	float: left;
	margin-top: 15px;
}
.square .list .con dl.f1 strong {
	font-size: 22px;
	color: #f2746a;
}
.square .list .con dl.f2 {
	padding-left: 50px;
	width: 119px;
	border-right: 1px solid #ececec;
	color: #777;
	float: left;
	margin-top: 15px;
}
.square .list .con dl.f2 strong {
	font-size: 20px;
}
.square .list .con ul {
	float: left;
	margin-left: 50px;
}
.square .percent {
	width: 120px;
	float: left;
	text-align: center;
	margin: 10px 0 0 30px;
	display: none;
}
.square .percent dl.percent_b {
	overflow: hidden;
}
.square .percent dl.percent_b dt {
	float: left;
	margin-left: 10px;
}
.square .percent dl.percent_b dd {
	background: #ddd;
	float: left;
	height: 8px;
	margin-top: 10px;
	overflow: hidden;
	width: 68px;
	border-radius: 8px;
}
.square .percent dl.percent_b dd div {
	background: #ffa200;
	height: 8px;
	overflow: hidden;
	width: 0;
	border-radius: 8px;
}

/*圆形百分比*/
.circliful {
	position: relative;
	margin: 0 auto;
}
.circle-text, .circle-info, .circle-text-half, .circle-info-half {
	width: 100%;
	position: absolute;
	text-align: center;
	display: inline-block;
}
.circle-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #777777;
}
.circle-info, .circle-info-half {
	color: #999;
}
.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
}
.square .left_side {
	width: 545px;
	height: 390px;
	background: #f4604a;
	overflow: hidden;
}
.square .left_side .jia {
	width: 465px;
	height: 100px;
	padding-top: 25px;
	background: #fff;
	margin: 50px auto 20px auto;
	text-align: center;
}
.square .left_side .jia dl {
	display: inline-block;
	font-size: 14px;
	color: #333;
}
.square .left_side .jia dl dd {
	color: #f4604a;
	font-size: 36px;
	line-height: 40px;
}
.square .left_side .jia dl dd em {
	font-style: normal;
	font-size: 22px;
}
.square .left_side .jia span {
	display: inline-block;
	font-size: 36px;
	line-height: 36px;
	color: #f4604a;
	vertical-align: 30px;
	margin: 0 30px;
}
.square .left_side ul {
	font-size: 14px;
	color: #fff;
	line-height: 30px;
	width: 465px;
	margin: 0 auto;
}
.square .left_side ul h2 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: 5px;
}
.square .right_side {
	width: 455px;
}
.square .right_side .top_p {
	width: 400px;
	margin: 10px auto;
	color: #666;
	text-align: right;
}
.square .right_side table {
	width: 390px;
	margin: 0 auto;
	font-size: 14px;
}
.square .right_side table .percent {
	width: 200px;
	float: left;
}
.square .right_side table .percent dl {
	overflow: hidden;
}
.square .right_side table .percent dt {
	float: left;
	color: #666;
	margin-left: 10px;
}
.square .right_side table .percent dd {
	background: #f2f2f2;
	float: left;
	height: 10px;
	margin-top: 5px;
	overflow: hidden;
	width: 150px;
	border-radius: 2px;
}
.square .right_side table .percent dd div {
	background: #ffa200;
	height: 10px;
	overflow: hidden;
	width: 0;
	border-radius: 2px;
}
.square .right_side table strong {
	color: #f4604a;
	font-size: 22px;
}
.square .right_side table span {
	color: #f4604a;
}
.square .right_side table .jin {
	width: 258px;
	position: relative;
}
.square .right_side table .jin input {
	width: 196px;
	height: 22px;
	padding: 5px 50px 5px 10px;
	border: 1px solid #dadada;
}
.square .right_side table .jin p {
	position: absolute;
	right: 10px;
	top: 5px;
}
.square .right_side table .btn {
	background: #ffa200;
	width: 258px;
	height: 40px;
	color: #fff;
	text-align: center;
	border: 0;
	cursor: pointer;
	border-radius: 2px;
}
.square .right_side table .btn:hover {
	background: #ff8400;
}
.square .right_side table a.red {
	font-size: 12px;
	padding: 0 5px;
	line-height: 22px;
	height: 22px;
	display: inline-block;
	margin-left: 10px;
}
.plan {
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	margin-top: 20px;
}
.plan #findtab {
	width: 100%;
	background: url(../images/line1.jpg) repeat-x;
	height: 50px;
	line-height: 50px;
}
.plan #findtab a {
	font-size: 14px;
	display: block;
	float: left;
	border-right: 1px solid #eaeaea;
	width: 119px;
	text-align: center;
}
.plan #findtab a.current {
	color: #f4604a;
	line-height: 47px;
	border-top: 3px solid #f4604a;
	background: #fff;
}
.plan .findcon {
	width: 880px;
	margin: 0px auto;
	overflow: hidden;
	padding-bottom: 80px;
}
.plan .findcon .sublist_top {
	width: 100%;
	overflow: hidden;
	margin: 30px auto;
}
.plan .findcon .sublist_top dl {
	width: 430px;
	float: left;
}
.plan .findcon .sublist_top dl dt {
	width: 430px;
	margin-top: 50px;
	font-size: 16px;
	line-height: 30px;
}
.plan .findcon .sublist_top dl dt h3 {
	font-size: 20px;
	color: #f4604a;
	margin-bottom: 5px;
}
.plan .findcon .sublist_top dl dt p {
	font-size: 16px;
	line-height: 30px;
}
.plan .findcon .sublist_top ul {
	width: 360px;
	float: right;
	line-height: 30px;
	font-size: 14px;
	color: #666;
	margin-top: 50px;
	border-left: 1px solid #eaeaea;
	padding-left: 60px;
	padding-bottom: 50px;
}
.plan .findcon .sublist_top ul  h3 {
	font-size: 20px;
	color: #333;
	margin-bottom: 5px;
}
.plan .findcon .txt_list {
	width: 100%;
	clear: both;
	overflow: hidden;
	font-size: 14px;
	line-height: 34px;
	margin-top: 40px;
}
.plan .findcon .txt_list h1 {
	font-size: 18px;
	color: #f4604a;
}
.plan .findcon .tixi {
	width: 100%;
	margin: 40px auto;
	font-size: 14px;
}
.plan .findcon .txt_list li img {
	margin: 10px auto 30px auto;
}
.plan .findcon .tixi h2 {
	font-size: 18px;
	color: #f4604a;
}
.plan .findcon .tixi ul li {
	margin-top: 32px;
}
.plan .findcon .tixi ul i {
	background: url(../images/icon.png) no-repeat;
	width: 46px;
	height: 46px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: -15px;
}
.plan .findcon .tixi ul i.b1 {
	background-position: 0 -343px;
}
.plan .findcon .tixi ul i.b2 {
	background-position: -52px -343px;
}
.plan .findcon .tixi ul i.b3 {
	background-position: -102px -343px;
}
.plan .findcon .tixi ul i.b4 {
	background-position: -154px -343px;
}
.plan .findcon .shouyi {
	width: 100%;
	overflow: hidden;
	margin: 50px auto;
}
.plan .findcon .shouyi h1 {
	font-size: 18px;
	color: #f4604a;
}
.plan .findcon .shouyi .con {
	text-align: center;
	margin-top: 50px;
}
.plan .findcon .shouyi .con p {
	width: 485px;
	margin: 0 auto;
	margin-top: 20px;
	color: #666;
	line-height: 26px;
	text-align: left;
}
.plan .findcon .shouyi ul {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	color: #333;
}
.plan .findcon .shouyi ul strong {
	font-size: 28px;
	color: #f4604a;
	font-weight: normal;
	display: block;
	margin-bottom: 15px;
}
.plan .findcon .shouyi ul strong em {
	font-size: 20px;
	font-style: normal;
}
.plan .findcon .shouyi .circle-text {
	font-family: Arial, Helvetica, sans-serif;
	color: #f4604a;
}
.plan .findcon .shouyi span.fu {
	display: inline-block;
	vertical-align: 40px;
	color: #b6b6b6;
	font-size: 20px;
	margin: 0 33px;
}
.plan_box {
	background: #fff;
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
	border-top: 2px solid #c7c7c7;
	margin-top: 10px;
}
.plan_box .con {
	width: 880px;
	margin: 0 auto;
}
.plan_box .con .title {
	background: url(../images/li_title.jpg) no-repeat;
	width: 880px;
	height: 44px;
	line-height: 44px;
	text-align: center;
}
.plan_box .con .title h1 {
	font-size: 22px;
	color: #ffe500;
}
.plan_box .cl {
	width: 900px;
	margin: 10px  auto;
	text-align: right;
	color: #666;
}
.plan_box .cl i {
	background: url(../images/icon.png) no-repeat -205px -343px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: -4px;
}
.plan_box .con ul {
	margin: 50px auto;
	padding-bottom: 50px;
	overflow: hidden;
	font-size: 14px;
	line-height: 46px;
	padding-left: 100px;
	border-bottom: 1px solid #efefef;
}
.plan_box .con ul span {
	color: #f4604a;
}
.plan_box .con dl {
	width: 100%;
	text-align: center;
	font-size: 14px;
	padding-bottom: 100px;
}
.plan_box .con dl dd input {
	background: #ffa200;
	width: 258px;
	height: 40px;
	color: #fff;
	text-align: center;
	border: 0;
	cursor: pointer;
	border-radius: 2px;
	font-size: 16px;
	margin-top: 20px;
}
.plan_box .con dl dd input:hover {
	background: #ff8400;
}
.plan_box .con dl span {
	color: #f4604a;
}

/*辅助页面*/
.about_left {
	width: 200px;
	overflow: hidden;
	margin-top: 0px;
	background: #fff;
	padding-bottom: 50px;
}
.about_left ul {
	width: 160px;
	margin: 0 auto;
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
	padding: 10px 0;
}
.about_left ul.last {
	border: 0;
}
.about_left ul h1 {
	font-size: 16px;
}
.about_left ul a {
	font-size: 14px;
	line-height: 40px;
}
.about_left ul a.on {
	color: #f4604a;
}
.about_left i {
	background: #dcdcdc;
	width: 4px;
	height: 4px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 8px;
	vertical-align: 3px;
}
.about_right {
	width: 780px;
	min-height: 725px;
	margin-top: 0px;
}
.about_right.bg {
	background: #fff;
	min-height: 643px;
}
.about_right.bg.big {
	width: 1000px;
	margin: 0 auto;
}
.about_right_title {
	width: 700px;
	margin: 0 auto;
	margin-top: 25px;
}
.about_right.bg.big .about_right_title {
	width: 900px;
}
.about_right_title {
	font-size: 16px;
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 12px;
}
.about_right_title h1 {
	font-size: 16px;
	float: left;
}
.about_right_title h1 i {
	background: #f4604a;
	width: 4px;
	height: 18px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: -3px;
}
.news_list {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}
.news_list li {
	font-size: 14px;
	line-height: 50px;
}
.news_list i {
	background: #dcdcdc;
	width: 4px;
	height: 4px;
	display: inline-block;
	border-radius: 50%;
	margin-right: 8px;
	vertical-align: 3px;
}
.news_list .top {
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 15px;
}
.news_list .top h1 {
	font-size: 22px;
	line-height: 45px;
	margin-top: 20px;
}
.news_list .txt {
	width: 100%;
	overflow: hidden;
	margin: 40px auto 100px auto;
}
.news_list .txt p {
	font-size: 14px;
	line-height: 30px;
	text-indent: 28px;
}
.about_us {
	width: 700px;
	margin: 30px auto;
	overflow: hidden;
	padding-bottom: 50px;
}
.about_us p {
	font-size: 14px;
	line-height: 30px;
	text-indent: 28px;
}
.about_us .pic {
	width: 100%;
	margin: 30px auto;
}
.about_us .picd {
	width: 100%;
	margin: 10px auto;
}
.about_us li {
	line-height: 32px;
	font-size: 14px;
}
.about_us li h1 {
	font-size: 16px;
	color: #f24a31;
}
.about_us li a.mail {
	color: #f4604a;
}
.about_us li a.mail:hover {
	text-decoration: underline;
}
.about_xieyi {
	width: 700px;
	margin: 0px auto;
	overflow: hidden;
	padding-bottom: 50px;
	font-size: 14px;
	line-height: 32px;
}
.about_xieyi .top {
	margin: 20px auto 30px auto;
	overflow: hidden;
	width: 100%;
}
.about_right.bg.big .about_xieyi {
	width: 900px;
}
.safe {
	width: 460px;
	margin: 0px auto;
	overflow: hidden;
	padding-bottom: 120px;
}
.safe .list {
	width: 100%;
	overflow: hidden;
	clear: both;
	margin-top: 100px;
}
.safe .list span {
	float: left;
	margin: 30px 0 0 40px;
}
.safe .list ul {
	float: right;
	width: 220px;
	font-size: 14px;
	line-height: 30px;
	color: #333;
}
.safe .list ul h1 {
	font-size: 22px;
	margin: 15px 0 10px 0;
}
.skip {
	width: 100%;
	text-align: center;
}
.skip h1 {
	font-size: 26px;
	color: #333;
	line-height: 50px;
	margin-top: 160px;
}
.skip h1 span {
	color: #29ae3c;
}
.skip .con {
	margin-top: 60px;
}
.skip .con p {
	display: inline-block;
	margin: 0 20px;
	vertical-align: 10px;
}
@-moz-keyframes spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes spinner-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spinner-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.spinner-loader:not(:required) {
	-moz-animation: spinner-loader 1500ms infinite linear;
	-webkit-animation: spinner-loader 1500ms infinite linear;
	animation: spinner-loader 1500ms infinite linear;
	-moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	-webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
	display: inline-block;
	font-size: 10px;
	width: 10px;
	height: 10px;
	margin: 0 2px;
	border-radius: 50%;
	overflow: hidden;
	text-indent: 100%;
}
@-moz-keyframes refreshing-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes refreshing-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes refreshing-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* :not(:required) hides this rule from IE9 and below */
.refreshing-loader:not(:required) {
	-moz-animation: refreshing-loader 1000ms infinite linear;
	-webkit-animation: refreshing-loader 1000ms infinite linear;
	animation: refreshing-loader 1000ms infinite linear;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0.4em solid #9ac;
	border-left-color: transparent;
	color: transparent;
	display: inline-block;
	font-size: 10px;
	line-height: 1.2;
	width: 10px;
	height: 10px;
	text-indent: 100%;
}
.refreshing-loader:not(:required):after {
	display: block;
	border: 0.5em solid transparent;
	border-top-color: #9ac;
	border-left-color: #9ac;
	content: '';
	width: 0;
	height: 0;
	overflow: hidden;
	margin-left: -0.2em;
	margin-top: 1em;
}
@-moz-keyframes throbber-loader {
	0% {
		background: #f67f6d;
	}
	10% {
		background: #f67f6d;
	}
	40% {
		background: #f67f6d;
	}
}
@-webkit-keyframes throbber-loader {
	0% {
		background: #f67f6d;
	}
	10% {
		background: #f67f6d;
	}
	40% {
		background: #f67f6d;
	}
}
@keyframes throbber-loader {
	0% {
		background: #f67f6d;
	}
	10% {
		background: #f67f6d;
	}
	40% {
		background: #f67f6d;
	}
}

/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
	-moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
	animation: throbber-loader 2000ms 300ms infinite ease-out;
	background: #dde2e7;
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 2px;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
	background: #cdcdcd;
	content: '\x200B';
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	border-radius: 50%;
}
.throbber-loader:not(:required):before {
	-moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
	animation: throbber-loader 2000ms 150ms infinite ease-out;
	left: -1.2em;
}
.throbber-loader:not(:required):after {
	-moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
	-webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
	animation: throbber-loader 2000ms 450ms infinite ease-out;
	right: -1.2em;
}

/*首页*/
#DB_tab16 {
	width: 100%;
	height: 395px;
	position: relative;
	overflow: hidden;
	background: #f8f8f8;
}
#DB_tab16 .DB_img {
	position: relative;
	width: 100%;
	height: 370px;
}
#DB_tab16 .DB_img li {
	position: absolute;
	width: 100%;
	height: 100%;
}
#DB_tab16 .DB_img li a {
	display: block;
	width: 100%;
	height: 100%;
}
#DB_tab16 .DB_btn {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
#DB_tab16 .DB_btn li {
	display: inline;
	cursor: pointer;
	margin: 0px
}
#DB_tab16 .DB_dirBtn {
	position: absolute;
	width: 1060px;
	height: 0;
	top: 140px;
	left: 50%;
	margin-left: -530px;
}
#DB_tab16 .DB_dirBtn .DB_prev {
	position: absolute;
	left: 0px;
	cursor: pointer;
}
#DB_tab16 .DB_dirBtn .DB_next {
	position: absolute;
	right: 0px;
	cursor: pointer;
}
.report {
	background: #f8f8f8;
	width: 100%;
	min-width: 1000px;
	overflow: hidden;
	clear: both;
	padding: 50px 0;
}
.report .con .list {
	width: 230px;
	float: left;
	margin-right: 26px;
	overflow: hidden;
}
.report .con .list.last {
	margin: 0 0 0 0;
}
.report .con .list i {
	display: block;
	float: left;
	width: 74px;
	height: 74px;
	background: url(../images/icon.png) no-repeat;
}
.report .con .list i.f1 {
	background-position: -91px 0;
}
.report .con .list i.f2 {
	background-position: -177px 0;
}
.report .con .list i.f3 {
	background-position: -259px 0;
}
.report .con .list i.f4 {
	background-position: -340px 0;
}
.report .con .list ul {
	width: 135px;
	float: right;
	color: #666;
	font-size: 14px;
}
.report .con .list ul h1 {
	color: #f4604a;
	font-size: 20px;
	margin-top: 10px;
}
.news {
	width: 1000px;
	line-height: 59px;
	height: 59px;
	border-bottom: 1px solid #e9e9e9;
}
.news h1 {
	font-size: 18px;
	color: #f4604a;
	float: left;
}
.rolling {
	width: 890px;
	height: 59px;
	overflow: hidden;
	float: left;
	margin-left: 35px;
}
.list_lie {
	width: 100%;
}
.list_lie li {
	width: 100%;
	height: 59px;
	clear: both;
}
.list_lie li span {
	color: #999;
	margin-left: 15px;
	font-size: 14px;
}
.list_lie li a {
	color: #333;
	display: inline-block;
	font-size: 14px;
}
.list_lie li a:hover {
	text-decoration: underline;
}
.list_lie li a i {
	background: #f4604a;
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-right: 5px;
	vertical-align: 3px;
	border-radius: 50%;
}
.manage {
	width: 100%;
	margin-top: 40px;
}
.manage h1 {
	background: url(../images/icon.png) no-repeat 0 -85px;
	width: 197px;
	height: 44px;
	line-height: 38px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-size: 22px;
	color: #ffe500;
}
.manage table td {
	font-size: 14px;
	color: #333;
	border-bottom: 1px dashed #f3dbb1;
	padding: 20px 0;
}
.manage table td strong {
	font-size: 28px;
	color: #f2746a;
}
.manage table td span {
	font-size: 18px;
	color: #f2746a;
}
.manage table td span em {
	font-size: 14px;
	font-style: normal;
}
.manage table td i {
	background: url(../images/icon.png) no-repeat 0 -30px;
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	vertical-align: -6px;
}
.manage table td a.bt {
	background: #ffa200;
	border-radius: 2px;
	width: 100px;
	height: 34px;
	display: inline-block;
	line-height: 34px;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.manage table td a.bt:hover {
	background: #ff8400;
}
.manage .more {
	text-align: center;
}
.manage .more a {
	color: #f4604a;
	font-size: 16px;
	line-height: 88px;
}
.manage .more a:hover {
	text-decoration: underline;
}
.profit-box {
	width: 100%;
	min-width: 1000px;
	background: #fff8f1;
}
.profit {
	width: 1000px;
	margin: 0 auto;
	padding-bottom: 46px;
}
.profit .list {
	position: relative;
	width: 100%;
	margin-top: 37px;
	clear: both;
}
.profit .list .top {
	margin-left: 19px;
	height: 15px;
}
.profit .list .con {
	background: #fff;
	height: 254px;
	border-top: 2px solid #f46550;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}
.profit .list.sen .con {
	border-top: 2px solid #ffc800;
}
.profit .list .con .left_cor {
	width: 195px;
	text-align: center;
	height: 216px;
	margin-left: 30px;
}
.profit .list .con .left_cor .nei {
	width: 100%;
	background: #f4604a;
	height: 208px;
	overflow: hidden;
}
.profit .list.sen .con .left_cor .nei {
	background: #ffc800;
}
.profit .list .con .left_cor .jiao {
	background: url(../images/ya_15.jpg) no-repeat;
	width: 100%;
	height: 8px;
}
.profit .list.sen .con .left_cor .jiao {
	background: url(../images/ya_21.jpg) no-repeat;
}
.profit .list .con .left_cor .nei ul {
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.profit .list.sen .con .left_cor .nei ul {
	color: #c93018;
}
.profit .list .con .left_cor .nei ul h1 {
	font-size: 22px;
	color: #ffe179;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 8px;
}
.profit .list.sen .con .left_cor .nei ul h1 {
	color: #c93018;
}
.profit .list .con .left_cor .nei i {
	background: url(../images/icon.png) no-repeat -220px -85px;
	display: inline-block;
	width: 60px;
	height: 53px;
	margin-top: 20px;
}
.profit .list.sen .con .left_cor .nei i {
	background-position: -305px -85px;
}
.profit .list .right_cor {
	width: 685px;
	margin: 30px 30px 0 0;
}
.profit .list .right_cor h1 {
	font-size: 26px;
	color: #333;
}
.profit .list .right_cor .num {
	width: 100%;
	margin-top: 35px;
}
.profit .list .right_cor .num dl {
	text-align: center;
	font-size: 18px;
	color: #666;
	float: left;
	width: 165px;
	line-height: 18px;
}
.profit .list .right_cor .num dl dd {
	color: #f4604a;
	font-size: 26px;
	line-height: 40px;
}
.profit .list .right_cor .num dl dd strong {
	font-size: 56px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.profit .list .right_cor .num ul {
	width: 275px;
	float: left;
	font-size: 18px;
	color: #666;
	border-left: 1px solid #e9e9e9;
	padding-left: 48px;
	margin-left: 45px;
}
.profit .list .right_cor .num ul li.last {
	margin-top: 15px;
}
.profit .list .right_cor .num ul li strong {
	color: #f4604a;
	margin: 0 5px;
	font-size: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: bottom;
	line-height: 30px;
}
.profit .list .right_cor .num ul li em {
	color: #f4604a;
	font-style: normal;
}
.profit .list .right_cor a.bt {
	background: #ffa200;
	border-radius: 2px;
	width: 130px;
	height: 41px;
	display: block;
	line-height: 41px;
	color: #fff;
	font-size: 22px;
	text-align: center;
	float: right;
	margin-top: 20px;
}
.profit .list .right_cor a.bt:hover {
	background: #ff8400;
}
.cooperate {
	width: 100%;
	min-width: 1000px;
	background: #fff;
	clear: both;
	padding: 35px 0;
}
.cooperate h1 {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
}
.cooperate .top {

	/* border-bottom:1px solid #e9e9e9;*/ width: 100%;
	padding-bottom: 40px;
}
.cooperate .top li {
	float: left;
	margin: 10px 20px 0 0;
}
.cooperate .bottom {
	width: 785px;
	margin: 0 auto;
	margin-top: 40px;
}
.cooperate .bottom .login {
	width: 354px;
	float: right;
	margin-top: 5px;
}
.cooperate .bottom .login label {
	position: relative;
	float: left;
}
.cooperate .bottom .login label span {
	position: absolute;
	left: 10px;
	top: 5px;
	color: #666;
}
.cooperate .bottom .login label .txt {
	border: 1px solid #dcdcdc;
	width: 222px;
	height: 22px;
	padding: 5px 10px;
	font-size: 12px;
	color: #333;
}
.cooperate .bottom .login .submit {
	background: #ffa200;
	border-radius: 2px;
	width: 100px;
	height: 34px;
	display: inline-block;
	line-height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	border: 0;
	cursor: pointer;
	float: right;
}
.cooperate .bottom .login .submit:hover {
	background: #ff8400;
}
.tishi {
	width: 1000px;
	margin: 50px auto 200px auto;
	min-height: 500px;
	background: #fff;
	overflow: hidden;
	padding-bottom: 50px;
	text-align: center;
}
.tishi h1 {
	font-size: 26px;
	color: #333;
	line-height: 50px;
	margin-top: 160px;
}
.tishi p {
	font-size: 20px;
	margin-top: 10px;
}
.operate {
	width: 700px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 50px;
}
.operate .top h1 {
	font-size: 22px;
	color: #f4604a;
}
.operate .top h1 i {
	margin-right: 10px;
	vertical-align: -5px;
}
.operate h4 {
	font-size: 14px;
	border-bottom: 1px solid #eaeaea;
	line-height: 60px;
	font-weight: normal;
	cursor: pointer;
}
.operate h4 i {
	background: url(../images/sx1.jpg) no-repeat;
	width: 13px;
	height: 7px;
	display: block;
	float: right;
	margin: 25px 23px 0 0;
}
.operate .selected h4 i {
	background: url(../images/sx2.jpg) no-repeat;
	width: 13px;
	height: 7px;
	display: block;
}
.operate .list-item {
	background: #f2f2f2;
	display: none;
	padding: 10px 20px;
	clear: both;
}
.operate .list-item p {
	text-indent: 28px;
	font-size: 14px;
	line-height: 28px;
}
.yaoqing {
	width: 640px;
	margin: 20px auto;
	font-size: 14px;
	overflow: hidden;
	color: #333;
}
.yaoqing li {
	margin-top: 10px;
	line-height: 30px;
}